/* Use Flexbox and media queries*/
/* Universal */
:root {
    --lightblue: rgb(155, 225, 228);
}
* {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

html {
    background-color: grey;
    color: rgb(58, 58, 58);
    text-align: center;
    margin: 0 auto;
}
/* Header and nav */

header {
    margin: 30px auto 30px 30px;
    font-size: 30px;
    text-align: left;
    color: var(--lightblue);
}

header i {
    padding-right: 15px;
}

nav {
    position: absolute;
    right: 20px;
    top: 40px;
}

nav li {
    display: inline-block;
}

nav a {
    color: var(--lightblue);
    padding: 14px 16px;
    font-size:20px;
    text-decoration: none;
}

/* Body */

header i {
    font-size: 30px;
}

h1 {
    font-size: 60px;
    color: white;
    margin-top: 100px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 40px;
    color: white;
    margin-top: 180px;
}

/* Footer */

footer,
footer a {
    color: white;
    background-color: cadetblue;
}

footer {
    border-top: 10px solid var(--lightblue);
}

footer p {
    padding: 10px;
}

h4 {
    margin: 30px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 i {
    font-size: 70px;
    padding: 10px;
    margin-right: 20px;
    background-color: grey;
}

textarea {
    margin-top: 20px;
}

/* Classes and id */

.twitter {
    width: 100%;
    max-width: 650px;
    margin: 30px auto;
}

.facebook,
.github {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.container {
    height: 500px;
    width: 500px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgb(214, 214, 214);
}

.container p {
    text-align: center;
}

.large {
    height: 700px;
    width: 800px;
}

.container1 {
    background-image: url(../images/htmlcss.jpg);
    background-size: cover;
    width: 500px;
    height: 400px;
    margin: 20px;
}

.container2 {
    background-image: url(../images/javascript.jpg);
    background-size: cover;
    width: 500px;
    height: 400px;
    margin: 20px;
}

.form-email {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.form-email label {
    padding-right: 5px;
}

.form-submit input {
    border-radius: 8px;
    padding: 5px;
    margin: 15px auto;
}

.links {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.links i,
.links p {
    margin-right: 5px;
}

#skill-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

nav ul li a:hover {
    color: palevioletred;
}

h3:hover {
    font-size: 50px;
    color: rgb(0, 235, 0);
    transition: color 500ms, font-size 500ms;
}

.form-submit input:hover {
    cursor: pointer;
}

::placeholder {
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width:768px) {
    
    i {
        font-size: 25px ;
    }

    header {
        font-size: 20px;
    }

    nav {
        right: 0px;
        top: 40px;
    }

    nav a {
        padding: 10px;
        font-size: 20px;
    }

    .container {
        width:100%;
        max-width: 500px;
        height: 100%;
    }

    .large {
        max-width: 700px;
    }
}

@media screen and (max-width:576px) {
    
    nav {
        top: 100px;
        left: 0px;
    }

    nav a {
        float: left;
    }

    h1 {
        padding-top: 60px;
    }

    .container {
        width: 100%;
        max-width: 400px;
        height: 100%;
    }

    .large {
        max-width: 500px;
    }
    
    img {
        max-width: 300px;
    }

}