/* Use Flexbox and media queries*/
/* Universal */
:root {
    --lightblue: rgb(155, 225, 228);
}
* {
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    margin: 0 auto;
}
/* Header and nav */
nav ul {
    display: flex;
    justify-content: end;
    margin: 0 50px 30px auto;
}

nav a {
    color: white;
    padding-right: 10px;
}

header {
    margin: 40px auto;
    font-size: 40px;
    color: var(--lightblue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Body */

img {
    margin: 40px auto;
}

/* Footer */

footer p {
    margin-bottom: 30px auto;
}

footer section a {
    color: rgb(155, 225, 228) !important;
}

.container {
    height: 500px;
    width: 700px;
    outline: solid 3px var(--lightblue);
    margin: 50px auto;
    padding: 40px;
}

.container p {
    text-align: center;
}

.large {
    height: 1000px;
    width: 1000px;
}

#Work a {
    color: var(--lightblue) !important;
}

nav ul li a:hover {
    color: palevioletred;
}

@media screen and (max-width:992px) {

}

@media screen and (max-width:768px) {

}

@media screen and (max-width:576px) {
    
}